{% extends "templates/base.html" %}
{% load staticfiles }

{% block mainnav %}<li class="dropdown">{% endblock %}
{% block golfers %}<li class="active dropdown">{% endblock %}
{% block maincode %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget stacked ">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Golfers</h3>
                    </div/>
                    <div class="widget-content">
                        <section id="addnew">
                            <form action={% url 'golfstats.add-golfer' %}>
                            <button type="submit" class="btn btn-success">Add Golfer</button>
                            </form>
                        </section>
                        </br> 
                        <section id="tables">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    {% for course in courses %}
                                        <tbody>
                                            <tr>
                                                <th>{{ course.id }}</th>
                                                <th>{{ course.golfcourse.name }}</th>
                                                <th>{{ course.golfcourse.address }}</th>
                                                <th>{{ course.golfcourse.phonenumber }}</th>
                                                <th><a href={% url 'golfstats.modify-course' course_id=course.id %}>Edit Course</a>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </section>
                    </div/>
                </div/>
            </div/>
        </div/>
    </div/>
</div>
{% endblock %}

